@import url("./libs/assets/icon/css/app.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    overflow: hidden;
}

ul {
    list-style-type: disc;
    margin: 8px 0;
    padding-left: 24px;
}

li {
    margin: 4px 0;
}
